@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap');

body{
    font-family: 'Lato', ;
}

a, a:hover{
    color: #2e2e2e;
}

.footer{
    background: rgba(221, 221, 221, 0.52);
    padding: 4vw;
}

.c1{
    background-size: cover;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.teks1{
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
}

.teks2{
    font-family: Lato;
    font-style: normal;
    font-weight: normal; 
    font-size: 27px;
}

.kategori{
    width: 450px;
    height: 450px;
}

.j1{
    background-image: url('middle.png');
    background-size: cover;
    background-position: center;
    height: 600px;
}

.konten1{
    width: 400px;
    height: 400px;
}

.learnmore{
    width: 140px;
    height: 25px;
}

.top-trendy {
    background-image: url("/static/trendywallpaper.jpg");
    background-size: cover;
    background-position: center;
	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: left;
    padding-left: 25vw;
    padding-bottom: 20vh;
}

.top-classy {
    background-image: url("/static/classywallpaper.jpg");
    background-size: cover;
    background-position: center;
	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    padding-right: 10vw;
}

.top-sporty {
    background-image: url("/static/sportywallpaper.jpg");
    background-size: cover;
    background-position: center;
	min-height: 100vh;
	max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    padding-top: 25vh;
    padding-left: 20vw;
}

.title {
    color: #FFFDF6;
    font-size: 36px;
    font-weight: lighter;
}

.mid {
    justify-content: center;
    align-items: center;
    padding: 5% 5% 1% 5%;
}

.big {
    border: 4px solid grey;
    width: 100%;
    padding: 5%;
}

.big-sporty{
    border: 4px solid grey;
    width: 100%;
    padding: 5%;
    background-color: #F6F6F6;
}

.definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.subtitle {
    color: grey;
}

.bot {
    justify-content: center;
    align-items: center;
    padding: 0 5% 5% 5%;
}

.boxdown {
    margin-top: 5%;
}

body {
    font-family: 'Lato', ;
}

a, a:hover {
    color: #2e2e2e;
}

.footer {
    background: rgba(221, 221, 221, 0.52);
    margin-top: 1%;
    padding: 4%;
}

.hover {
    overflow: hidden;
    position: relative;
    padding-bottom: 60%;
}
  
.hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
}
  
.hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
}

.expad {
    padding: 10%;
}

.expad-top {
    padding: 0 8% 16% 8%;
}
  
.hover-content {
    position: relative;
    z-index: 99;
}
  
.hover-2 .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
}
  
.hover-2-title {
    position: absolute;
    top: 50%;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 99;
    transition: all 0.3s;
}
  
.hover-2-description {
    width: 100%;
    position: absolute;
    bottom: 0;
    opacity: 0;
    left: 0;
    text-align: center;
    z-index: 99;
    transition: all 0.3s;
}
  
.hover-2:hover .hover-2-title {
    transform: translateY(-1.5rem);
}
  
.hover-2:hover .hover-2-description {
    bottom: 0.5rem;
    opacity: 1;
}
  
.hover-2:hover .hover-overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.1));
}

.pagecontent {
    position: absolute;
    top: 5rem;
}

.judul {
    background-color: #494949;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    padding: 0.5rem 0rem;
}

.judul2 {
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
}

.logolens {
    position: relative;
    width: 3rem;
    height: 3rem;
    bottom: 0.25rem;
}

.coupon {
    position: relative;
    margin-top: 3rem;
}

.logocoupon {
    position: relative;
    bottom: 1rem;
    width: 10rem;
    height: 10rem;
}

.coupontag {
    font-size: 1.5rem;
    font-weight: normal;
}

.desc {
    font-size: 1rem;
    font-weight: 300;
}

.searchbox {
    width: 50rem;
    height: 2rem;
}

