{% extends 'includes/base.html' %}
{% block title %}
Coupon
{% endblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
{% block content %}    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coupon</title>
    <style>
        .pagecontent{
            position: absolute;
            top: 5rem;
        }
        .judul{
            background-color: #494949;
            color: white;
            font-size: 1rem;
            font-weight: 600;
            text-align: center;
            padding: 0.5rem 0rem;
        }
        .judul2{
            text-align: center;
            font-size: 2rem;
            font-weight: normal;
        }
        .logolens{
            position: relative;
            width: 3rem;
            height: 3rem;
            bottom: 0.25rem;
        }
        .coupon{
            position: relative;
            margin-top: 3rem;
        }
        .logocoupon{
            position: relative;
            bottom: 1rem;
            width: 10rem;
            height: 10rem;   
        }
        .coupontag{
            font-size: 1.5rem;
            font-weight: normal;
        }
        .desc{
            font-size: 1rem;
            font-weight:300;
        }
        .searchbox{
            width: 50rem;
            height: 2rem;
        }
        .footer{
            position: absolute;
            top: 500rem;
        }
    </style>
</head>

<body>
    <div class="container-fluid pagecontent">
        <div class="row">
            <div class="col">
                <h1 class="judul">
                    Great Deals
                    <br>
                    Awaiting
                    <br>
                </h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p class="judul2">
                    Search Our Great Deals Here
                </p>
            </div>
        </div> 

        <form action="/coupon/" method="GET">
            <div class="d-flex justify-content-center">
                {% csrf_token %}
                {{ form.coupon }}
                <input class="logolens" type="image" src="{% static 'search.png' %}" alt="Submit">
            </div>
        </form>

        {% for i in coupon %}
            <div class="row justify-content-center coupon">
                <div class="col-sm-6">
                    <p class="coupontag">{{i.nama}}</p>
                    <p class="desc">{{i.deskripsi}}</p>
                    <p class="desc">Percent          : {{i.persen}}</p>
                    <p class="desc">Code             : {{i.kode}}</p>
                    <p class="desc">Minimum pembelian: {{i.harga}}</p>
                    <p class="desc">Due date         : {{i.tanggal}}</p>  
                </div>
                <div class="col-sm-2">
                    <img class="logocoupon rounded mx-auto d-block" src="{% static 'disc.png' %}" alt="Image of Discount">
                </div> 
            </div>
        {% endfor %}
        
            
        {% for i in hasil %}
            <div class="row justify-content-center coupon">
                <div class="col-sm-6">
                    <p class="coupontag">{{i.nama}}</p>
                    <p class="desc">{{i.deskripsi}}</p>
                    <p class="desc">Percent          : {{i.persen}}</p>
                    <p class="desc">Code             : {{i.kode}}</p>
                    <p class="desc">Minimum pembelian: {{i.harga}}</p>
                    <p class="desc">Due date         : {{i.tanggal}}</p>  
                </div>
                <div class="col-sm-2">
                    <img class="logocoupon rounded mx-auto d-block" src="{% static 'disc.png' %}" alt="Image of Discount">
                </div> 
            </div>
        {% endfor %}
        <br><br>
</body>
{% endblock %}  
</html>
