{% load static %}
{% if coupons %}
    <script>
        $("#redeemButton0").click( ()=> {
            let totalPembelian = $("#totalPembelian").val()
            totalPembelian -= ($("#redeemButton0").val()/100)*totalPembelian
            $("div#replaceTotal").html("<param id='totalPembelian' value=130 >Discount applied! New total "+totalPembelian+"</param>")
        })
        $("#redeemButton1").click( ()=> {
            let totalPembelian = $("#totalPembelian").val()
            totalPembelian -= ($("#redeemButton1").val()/100)*totalPembelian
            $("div#replaceTotal").html("<param id='totalPembelian' value=130 >Discount applied! New total "+totalPembelian+"</param>")
        })
        $("#redeemButton2").click( ()=> {
            let totalPembelian = $("#totalPembelian").val()
            totalPembelian -= ($("#redeemButton2").val()/100)*totalPembelian
            $("div#replaceTotal").html("<param id='totalPembelian' value=130 >Discount applied! New total "+totalPembelian+"</param>")
        })
    </script>
    
    {% for coupon,counter in coupons %}
    <div class="dropdown-item display-4">
        <p>{{coupon.nama}} {{coupon.persen}}% </p>
        <img style="width: 10rem; height: 10rem;" class="img-fluid" src="{% static 'disc.png' %}" alt="Image of Coupon"><button type="button" class="btn btn-secondary" value="{{coupon.kode}}" id="redeemButton{{counter}}">Redeem</button>
    </div>
    {% endfor %}
    </div>
{% endif %}