<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            Under Construction
        </title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <style>
            @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

            html{
            min-height: 100%;
            overflow: hidden;
            }

            body{
            height: calc(100vh - 8em);
            padding: 4em;
            color: rgba(25,25,25,.75);
            font-family: 'Anonymous Pro', monospace;  
            background-color: rgb(255,255,255);  
            }

            .line-1{
                position: relative;
                top: 50%;  
                width: 24em;
                margin: 0 auto;
                border-right: 2px solid rgba(25,25,25,.75);
                font-size: 180%;
                text-align: center;
                white-space: nowrap;
                overflow: hidden;
                transform: translateY(-50%);    
            }

            .anim-typewriter{
            animation: typewriter 4s steps(44) 1s 1 normal both,
                        blinkTextCursor 500ms steps(44) infinite normal;
            }

            @keyframes typewriter{
            from{width: 0;}
            to{width: 24em;}
            }

            @keyframes blinkTextCursor{
            from{border-right-color: rgba(25,25,25,.75);}
            to{border-right-color: transparent;}
            }
        </style>
    </head>
    <body>
        <div class="under-construction" style="height: 90vh; width: 90vw; margin-top: 30vh;">
            <div class="container" style="text-align: center;">
                <img src="{% static 'logo.png' %}">
                <br><br>
                <p class="line-1 anim-typewriter">Hi! We are currently under construction.</p>
                <br>
                <p class="line-1 anim-typewriter">Please check back soon!</p>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
</html>