{% extends 'includes/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Pepew's Footwear {% endblock %}
{% block content %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'carousel1.png' %}" class="d-block w-100" style="width: 700px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'carousel2.png' %}" class="d-block w-100" style="width: 700px;">
        </div>
        <div class="carousel-item">
            <img src="{% static 'carousel3.png' %}" class="d-block w-100" style="width: 700px;">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br><br>

<div class="container-fluid">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-4 teks1" style="text-align: right;">
                choose your<br>
                style.
            </div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-lg-4">
                <a href="/classy/">
                    <img src="{% static 'Classy.png' %}" class="kategori">
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/sporty/">
                    <img src="{% static 'Sporty.png' %}" class="kategori">
                </a>
            </div>
            <div class="col-lg-4">
                <a href="/trendy/">
                    <img src="{% static 'Trendy.png' %}" class="kategori">
                </a>
            </div>
        </div>
    </div>

</div>

<br><br><br>

<div class="jumbotron jumbotron-fluid j1">
    <div class="container">
    </div>
</div>

<br><br><br>

<div class="container-fluid">

    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
        <div class="col-4 teks1" style="text-align: right;">
            what makes us
        </div>
    </div>

    <div class="row">
        <div class="col-4">
        </div>
        <div class="col-4">
        </div>
        <div class="col-4 teks1" style="text-align: right;">
            different?
        </div>
    </div>

    <br><br>

    <div class="row align-items-center">
        <div class="col-5" style="text-align: right;">
            <img src="{% static 'fabric.png' %}" class="konten1">
        </div>
        <div class="col-7 teks2">
            <strong>best material you could ever think of</strong><br>
            we promise to deliver the best material you<br>
            will ever felt in your life<br>
            guarantee.<br>
            <img src="{% static 'learnmore.png' %}" class="learnmore">
        </div>
    </div>

    <br><br>

    <div class="row align-items-center">
        <div class="col-5" style="text-align: right;">
            <img src="{% static 'lebron15.png' %}" class="konten1">
        </div>
        <div class="col-7 teks2">
            <strong>structure you can rely on</strong><br>
            our shoes have the structures you need<br>
            to support your body weight and it will help<br>
            you to have a balanced body.<br>
            <img src="{% static 'learnmore.png' %}" class="learnmore">
        </div>
    </div>

</div>
{% endblock %}