{% extends 'includes/base.html' %}
{% load static %}
{% load humanize %}
{% load socialaccount %}
{% block title %} Sign in {% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="col-12 col-md-6 col-lg-4 mx-auto">
    <div class="card mx-auto text-center" style="width:100% ;margin-top: 20vh; margin-bottom: 20vh;">
        <br>
        {% if user.is_authenticated %}
        <span class="mx-auto" style="text-transform: capitalize;" id="user-display">Hello, {{ user }}</span>
        <a class="btn btn-outline-dark mx-auto" href="{% url 'logout' %}" id='logout' style="width: 300px;">Logout</a>
        <br>
        {% else %}
        <div class='form'>
            <form action="" method="POST" style="margin: 0; padding: 0;">
                <div class="mx-auto" style="width: 300px;">
                    {% csrf_token %} {{ form }}
                </div>
                <br>
                <input type="submit" class="btn btn-outline-dark" style="width: 300px; margin-left: 5px;" value="Login"
                    id="submit">
                <br>
            </form>
        </div>
        <a href="{% provider_login_url "google" %}" class="btn btn-outline-dark mx-auto"
            style="width: 300px; margin-top:1vh;">
            Login with Google
        </a>
        <br>
        <span>
            Don't have an account? Sign up <a href="{% url 'signup' %}" style="color: rgb(148, 148, 148);"
                id="sign-up">here</a>!
        </span>
        <br>
        {% endif %}
    </div>
</div>
{% if user.is_authenticated %}
<div class="filler" style="height: 20vh;"></div>
{% endif %}
{% endblock %}