{% extends 'includes/base.html' %}
{% block title %}
Payment
{% endblock %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
{% block content %}   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .footer{
            position:relative;
            top: 500rem;
        }
        .pagecontent{
            position: relative;
            top: 5rem;
        }
        .searchbox{
            width: 50rem;
            height: 2rem;
        }  

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.js"></script>
    <script type="text/javascript">
    
        $(document).ready(() => {
            $("#user-input").on('keyup', () => {
                // Inputted keyword is saved into attribute q, written in JSON syntax
                // To put it simple, request_parameter is JSON data
                const request_parameter = {
                    q : $("#user-input").val(),
                }
                $.getJSON('/payment/', request_parameter)
                .done(response => {
                    $("#replaceable-content").html(response['html']);
                })
            })
            
        })
    </script>
</head>
<body>
    <div class="container-fluid pagecontent">
        <div class="row">
            
            <div class="col-xl payment">
                <h1 class="payment__title text-center">Payment</h1>
                <div class="paymentForm">  
                    <p>Fill Payment Detail</p>
                    <label for="{{ paymentForm.payment.id_for_label }}">Payment Type:</label>
                    <small>Choose payment type</small>
                    {{paymentForm.payment}}
                    <label for="{{ paymentForm.card_number.id_for_label }}">Card Number:</label>
                    <small>Fill the card number below</small>
                    {{paymentForm.card_number}}
                    <br>
                </div>

                <div class="searchForm">
                    <label id="search-label" class="fas fa-search" aria-hidden="true">Coupon:</label>
                    <small>Search by percent only e.g. "40" or "40%"</small>
                    <input class="form-control fas fa-search dropdown-toggle" id="user-input" type="text" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div id="replaceable-content">
                    </div>
                </div>

            </div>

            <div class="col-xl cartsection">
                <p class="cartsection cart__title h1 text-center">Cart</p>
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Brogue shoe @70
                      <span class="badge badge-primary badge-pill">1</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                      Monk shoe @60
                      <span class="badge badge-primary badge-pill">2</span>
                    </li>
                  </ul>
                <br>
                <div id="replaceTotal" class="h4">
                    <param  value="130" id="totalPembelian">Total Pembelian 130 IDR</param>
                </div>
            </div>

        </div>
    </div>
</body>
{% endblock %}
</html>
