{% extends 'includes/base.html' %}
{% load static %}
{% load humanize %}
{% block title %} Product {% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="container-fluid" style="margin-top: 10vh; margin-bottom: 5vh; background: rgba(255, 254, 250, 0.9);
box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25); padding: 5vh;">
    <div class="row">
        <div class="col-lg-1"></div>
        <div class="col-lg-6 text-center my-auto">
            <img src="{{ selectedProduct.gambar }}" alt="ProductImage">
        </div>
        <div class="col-lg-5 text-center my-auto" style="padding: 7%;">
            <h6>
                {{ selectedProduct.style }}
            </h6>
            <h3>
                {{ selectedProduct.nama }}
            </h3>
            <p>
                {{ selectedProduct.deskripsi }}
            </p>
            <span>
                Rp. &nbsp; <b style="font-size: larger;">{{ selectedProduct.harga|intcomma }},-</b>
            </span>
            <br><br>

            <button type="button" class="btn btn-outline-dark" data-toggle="modal" data-target="#transactionModal">
                ADD TO CART
            </button>

            <div class="modal fade" id="transactionModal" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Make a purchasing order</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form method="POST">
                                {% csrf_token %}
                                <div class="form-row text-center">
                                    <div class="form-group" style="margin: 5px;">
                                        <label>
                                            Your Name
                                        </label>
                                        {{ form.customer }}
                                    </div>
                                    <div class="form-group" style="margin: 5px;">
                                        <label>
                                            Your Phone Number
                                        </label>
                                        {{ form.noHP }}
                                    </div>
                                    <div class="form-group" style="margin: 15px;">
                                        <label>
                                            Your Address
                                        </label>
                                        {{ form.alamat }}
                                    </div>
                                    <div class="form-group" style="margin: 15px;">
                                        {{ form.orderId }}
                                    </div>
                                    <div class="form-group" style="margin: 15px;">
                                        {{ form.produk }}
                                    </div>
                                    <div class="form-group" style="margin: 15px;">
                                        {{ form.transDate }}
                                    </div>
                                </div>
                                <button type="button" class="btn btn-outline-secondary"
                                    data-dismiss="modal">CANCEL</button>
                                <button type="submit" class="btn btn-outline-dark">MAKE ORDER</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="padding: 50px; gutter: 40px;">
    <div class="row" style="margin-left: 1vw;">
        <h4>review</h4>
    </div>
    <hr>
    {% for review in reviews %}
    <div class="row" style="margin-top: 3vh;">
        <div class="col-lg-2"></div>
        <div class="col-lg-2 text-center my-auto">
            <h1 class="display-1">{{ review.bintang }}.0</h1>
            <br>
            {% if review.bintang == 1 %}
            <img src="{% static '1stars.png' %}" style="width: 70%;">
            {% elif review.bintang == 2 %}
            <img src="{% static '2stars.png' %}" style="width: 70%;">
            {% elif review.bintang == 3 %}
            <img src="{% static '3stars.png' %}" style="width: 70%;">
            {% elif review.bintang == 4 %}
            <img src="{% static '4stars.png' %}" style="width: 70%;">
            {% elif review.bintang == 5 %}
            <img src="{% static '5stars.png' %}" style="width: 70%;">
            {% endif %}
        </div>
        <div class="col-lg-6">
            <h5>
                {{ review.headline }} - <i>{{ review.pengulas }}</i>
            </h5>
            <p>
                {{ review.ulasan }}
                <br>
                <b>
                    {{ review.tanggal }}
                </b>
            </p>
        </div>
    </div>
    {% endfor %}
    <div class="col-lg-12 text-center" style="margin-top: 2vh;">
        <a href="/review/{{ selectedProduct.id }}" class="btn btn-outline-dark">MORE REVIEWS</a>
    </div>
</div>
{% endblock %}