{% extends 'includes/base.html' %}
{% load static %}
  
{% block title %} 
Review Page
{% endblock %}


    {% block content %}
    <br>
    <br>
    <div class="container-fluid mb-5 pb-5" style="background: rgba(255, 254, 250, 0.9);; box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.25);">
        <div class="row pt-5 mt-5 pl-5 ml-5">
          <div class="col-md-12">
            <h2>{{selectedProduct.nama}}</h2>
            <br>
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <img src="{{ selectedProduct.gambar }}" 
            alt="ProductImage" class="img-fluid mx-auto d-block">
          </div>
        </div>
        <div class="row pt-5">
          <div class="col-md-12 text-center">
            <div class="d-flex justify-content-center">
              <a href="#formReview"><button type="button" class="btn btn-outline-secondary" >Make Review</button></a>
            </div>
          </div>
        </div>
    </div>

    <section id="userrating">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <h2>Average User Rating</h2>
            <br>
            {% if average > 0 %}
              <h2 style="font-size: 50px;" class="text-left pl-5 ml-3">{{average}}/5.00</h2>
            {% else %}
              <h2 style="font-size: 50px;" class="text-left pl-5 ml-3">NoRating</h2>
            {% endif %}
          </div>
          <div class="col-md-6">
            <h2>Rating Breakdown</h2>
            <br>
            <div class="row">
              <div class="col-md-1">
                <h5>5</h5>
              </div>
              <div class="col-md-1">
                <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
             </div>
              <div class="col-md-6">
                <div class="alert alert-primary" role="alert" style="width: 100%;"></div>
              </div>
              <div class="col-md-1">
                <h5>{{bintang5}}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <h5>4</h5>
              </div>
              <div class="col-md-1">
                <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
             </div>
              <div class="col-md-6">
                <div class="alert alert-primary" role="alert" style="width: 80%;"></div>
              </div>
              <div class="col-md-1">
                <h5>{{bintang4}}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <h5>3</h5>
              </div>
              <div class="col-md-1">
                <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
             </div>
              <div class="col-md-6">
                <div class="alert alert-primary" role="alert" style="width: 60%;"></div>
              </div>
              <div class="col-md-1">
                <h5>{{bintang3}}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <h5>2</h5>
              </div>
              <div class="col-md-1">
                <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
             </div>
              <div class="col-md-6">
                <div class="alert alert-primary" role="alert" style="width: 40%;"></div>
              </div>
              <div class="col-md-1">
                <h5>{{bintang2}}</h5>
              </div>
            </div>

            <div class="row">
              <div class="col-md-1">
                <h5>1</h5>
              </div>
              <div class="col-md-1">
                <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
             </div>
              <div class="col-md-6">
                <div class="alert alert-primary" role="alert" style="width: 20%;"></div>
              </div>
              <div class="col-md-1">
                <h5>{{bintang1}}</h5>
              </div>
            </div>

          </div>
        </div>
        </div>
        <hr style="border: 1px solid #000000;">
    </section>
    
    <section id="reviews">
      <div class="container-fluid pt-5">
        <div class="row">
          <div class="col ml-5">
            <h2>All Reviews</h2>
          </div>
        </div>
      </div>
      {%for i in review%}
      <div class="container pt-5">
        <div class="row">
          <div class="col-md-4 ml-5">
            <h2 style=" font-size: 50px;">{{i.bintang}}.0</h2>
            {%if i.bintang == 0 %}
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
            {% elif i.bintang == 1 %}
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
            {% elif i.bintang == 2 %}
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
            {% elif i.bintang == 3 %}
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg"></i>
              <i class="fa fa-star fa-lg"></i>
            {% elif i.bintang == 4 %}
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg"></i>
            {% elif i.bintang == 5 %}
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
              <i class="fa fa-star fa-lg" style="color: #ffff00;"></i>
            {% endif %}
          </div>
          <div class="col-md-5 mr-5 ml-5">
            <h5 style="font-size: 25px;"><b>{{i.headline}} <i>- {{i.pengulas}} </i></b></h5>
            <h6 style="font-size: 18px; text-align: justify;">{{i.ulasan}}</h6>
            <h6><b>{{i.tanggal}}</b></h6>
          </div>
        </div>
      </div>
      <br>
      <hr>
      {% endfor %}
      <div id="dataReview"></div>
      <hr style="border: 1px solid #000000;">
    </section>
  <section class="form" id="formReview">
  {% if user.is_authenticated %}
    <div class="container-fluid pb-5 mt-5">
      <form method="POST" id="reviewForm">
        {% csrf_token %}
        <div class="row">
          <h2>Review Now</h2>
        </div>
        <div class="row pt-5">
          <div class="col-md-6">
            <h4> <i class="fas fa-envelope"></i> Title</h4>
            <div id="headline">{{form.headline}}</div>
            <br>
            <h4> <i class="fas fa-envelope"></i> Your Message</h4>
            <div id="ulasan">{{form.ulasan}}</div>
            <br>
            <h4>Rate Us</h4>
            <div id="bintang">{{form.bintang}}</div>
            <div id="tanggal">{{form.tanggal}}</div>
          </div>
        </div>
        <div class="row pt-5">
          <input type = "submit" id='submitReview' class="btn btn-dark mx-auto" value="Submit" style="font-size: 20px;" >
        </div>
      </form>
    </div>
  {% else %}
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h4>You have to Login first to fill the form</h4>
            </div>
        </div>
        <div class="row justify-content-center mb-3">
            <div class="col-md-2">
                <a href="{% url 'login' %}"><button type="button" class="btn btn-outline-secondary">Back to Login Page</button></a>
            </div>
        </div>
    </div>
  </section>
  {% endif %}
  {% endblock %}

  {% block script %} 
    <script src="https://kit.fontawesome.com/a48052e337.js" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $(document).on('submit','#reviewForm', function(e){
          e.preventDefault();
          $.ajax({
            type: 'POST',
            url: "{% url 'postReview' postPK %}",
            data:{
              headline:$('#id_headline').val(),
              ulasan:$('#id_ulasan').val(),
              bintang:$('#id_bintang').val(),
              tanggal:$("#id_tanggal").val(),
              csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
              action: 'post'
            },
            success:function(json){
              $("#reviewForm").trigger('reset');
              $("#dataReview").prepend(
                '<div class="container pt-5">' + '<div class="row">' + '<div class="col-md-4 ml-5">' +
                '<h2 style=" font-size: 50px;">' + json.bintang +'.0</h2>' +'</div>' + '<div class="col-md-5 mr-5 ml-5">' 
                + '<h5 style="font-size: 25px;">' + '<b>' + json.headline + '<i>' + ' - {{ user.get_username }}' + 
                '</i>' +'</b>'+'</h5>' + '<h6 style="font-size: 18px; text-align: justify;">' + json.ulasan
                + '</h6> <h6><b>' + json.tanggal + '</h6></div></div></div><br><hr>'
              )
            },
            error : function(xhr,errmsg,err) {
            console.log(xhr.status + ": " + xhr.responseText);
            }
          })
        })

    </script>
{% endblock %}