{% extends 'includes/base.html' %}
{% load static %}
{% load humanize %}
{% load socialaccount %}
{% load crispy_forms_tags %}
{% block title %} Sign in {% endblock %}
{% block content %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endfor %}
{% endif %}
<div class="col-12 col-md-6 col-lg-4 mx-auto">
    <div class="card" style="margin-top: 10vh; width: 100%;">
        <br><br>
        <div class="row">
            <div class="col-12 text-center">
                <div class="display-4 page-title">
                    Sign Me Up!
                </div>
            </div>
        </div>
        <div class="container-fluid" style="width: 100%; margin-top: 5vh;">
            <div class="container text-center">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class="fieldWrapper">
                        {{ field.errors }}
                        {{ field|as_crispy_field }}
                    </div>
                    {% endfor %}
                    <button type="submit" id="submit-button">Sign up</button>
                    <br><br>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}