{% extends 'includes/base.html' %}
{% load static %}
{% block title %} Trendy {% endblock %}

{% block content %}
<div class="container-fluid padding top-trendy">
    <h1 class="title">show your<br>style.</h1>
</div>

<div class="container-fluid padding mid">
    <div class="row text-center">
        <div class="col-sm-6">
            <img src="{% static 'trendybig.jpg' %}" alt="shoe" class="big">
        </div>
        <div class="col-sm-6 definition">
            <h3>trendy</h3>
            <h4 class="subtitle">/ˈtrendē/</h4>
            <p>(adj.) very fashionable or up to date in style or influence.</p>
        </div>
    </div>
</div>

<div class="container-fluid padding bot">
    <div class="row text-center">
        {% for i in trendy_list %}
        <div class="col-sm-6 col-md-4 boxdown">
            <a href="/product/{{i.id}}">
                <div class="hover hover-2 text-white rounded"><img src={{i.gambar}} alt="" class="expad">
                    <div class="hover-overlay"></div>
                    <div class="hover-2-content px-5 py-4">
                        <h3 class="hover-2-title text-uppercase font-weight-bold mb-0">{{i.nama}}</h3>
                        <p class="hover-2-description text-uppercase mb-0">{{i.harga}}$</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}