<div class="container-fluid footer">
    <div class="row">
        <div class="col-lg-5 col-sm-2">
            <b>
                about.
            </b>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est corporis et obcaecati dignissimos eius,
                molestiae illo voluptate sequi adipisci exercitationem repudiandae eligendi eum sunt nihil reprehenderit
                porro saepe dolor delectus.
            </p>
        </div>
        <div class="col-lg-3 col-sm-2">
            <b>
                contact us.
            </b>
            <p>
                +62 21 234 5678<br>
                email_us@pepewsfootwear.com
            </p>
        </div>
        <div class="col-lg-2 col-sm-1">
            <b>
                info.
            </b>
            <p>
                <a href="/transaction/">
                    Shipping
                </a>
                <br>
                <a href="/coupon/">
                    Coupons
                </a>
            </p>
        </div>
        <div class="col-lg-2 col-sm-1">
            <b>
                follow us.
            </b>
            <p>
                <a href="#">
                    Facebook
                </a>
                <br>
                <a href="#">
                    Instagram
                </a>
                <br>
                <a href="#">
                    Twitter
                </a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-sm-6 text-center">
            <div class="display-5">
                <b>PEPEW'S FOOTWEAR</b>
            </div>
            <div class="display-6">
                ©2O20
            </div>
        </div>
    </div>
</div>