{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" href="/">
    <img src="{% static 'logo.png' %}" width="30" height="30" alt="logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-center" style="margin-left: 40%; margin-right: 30%;">
      <li class="nav-item">
        <a class="nav-link" href="/classy/"><b>classy.</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/sporty/"><b>sporty.</b></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/trendy/"><b>trendy.</b></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto text-center">
      <li class="nav-item">
        <a class="nav-link" href="/login/" style="text-transform: capitalize;">
          {% if user.is_authenticated %}
            Hello, {{ user }}
          {% else %}
            Login
          {% endif %}
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/transaction/"><img src="{% static 'shopping-cart-512.png' %}" width="30" height="30"
            alt="shopping-cart"></a>
      </li>
    </ul>
  </div>
</nav>